SignalsIntegrationTests/SignalsIntegrationTests/Service References/WS/signals2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/signals?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dto" />
  <xs:import schemaLocation="http://localhost:8080/signals?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dto.MissingValuePolicy" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="path" nillable="true" type="q1:Path" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="GetResult" nillable="true" type="q2:Signal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="GetByIdResult" nillable="true" type="q3:Signal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="signal" nillable="true" type="q4:Signal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="AddResult" nillable="true" type="q5:Signal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="path" nillable="true" type="q6:Path" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="GetPathEntryResult" nillable="true" type="q7:PathEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signalId" type="xs:int" />
        <xs:element minOccurs="0" name="fromIncluded" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toExcluded" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="GetDataResult" nillable="true" type="q8:ArrayOfDatum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signalId" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dto" minOccurs="0" name="data" nillable="true" type="q9:ArrayOfDatum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissingValuePolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissingValuePolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dto.MissingValuePolicy" minOccurs="0" name="GetMissingValuePolicyResult" nillable="true" type="q10:MissingValuePolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMissingValuePolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signalId" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dto.MissingValuePolicy" minOccurs="0" name="missingValuePolicy" nillable="true" type="q11:MissingValuePolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMissingValuePolicyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>